@keyframes AnimationName { 
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.content-wrapper {
  height: 90vh;
  overflow: hidden;
}

.content{
  width: auto;
  height: 100%;
}

/* links */

.links {
  width: 52px;
  font-size: 32px;
  flex-grow: 0.35;
  display: flex;
  flex-direction: column;
  font-family: Cyberspace;
}

.links a {
  color: #333;
}

.links-1 a:hover,
.links-1 a:active{
  background: linear-gradient(100deg, #ac2632, #52306c, #ac2632, #52306c);
  background-clip: text;
  background-size: 800% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  -o-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

.links-2 a:hover,
.links-2 a:active{
  background: linear-gradient(100deg, #f5b655, #ac2632, #52306c, #ac2632);
  background-clip: text;
  background-size: 800% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  -o-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

.links-3 a:hover,
.links-3 a:active{
  background: linear-gradient(100deg, #52306c, #ac2632, #5b5da4);
  background-clip: text;
  background-size: 800% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  -o-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

.links-4 a:hover,
.links-4 a:active{
  background: linear-gradient(100deg, #56bbcd, #3f8ad0, #414597);
  background-clip: text;
  background-size: 800% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  -o-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}



.links-portfolio{
  font-size: 48.5px;
}

.links-linkedin{
  font-size: 53.3px;
}

.links-github{
  font-size: 66.5px;
}

.links-photography{
  font-size: 32.4px;
}

.links-1 a:link,
.links-1 a:visited {
	display: inline-block;
	text-decoration: none;
  border-bottom: 4px solid transparent;
	transition: border-bottom 0.2s;
}

@media (max-width: 1375px) { 
}
