/*
orange: e35000
blue: 3d8ebf
dark blue: 203c40
*/

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;  
  height: 100%;
}

/* header */

.header {
  width: 70vw;
  display: -ms-flexbox;
  display: block;
  -ms-flex-pack: center;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header a {
  color: #3d8ebf;
}

.header a:link,
.header a:visited {
  transition: color 0.2s;
}

.header a:hover,
.header a:active {
  color: #1A5172;
}

.content {
  margin-left: 140px;
  margin-bottom: 50px;
}

/* links */

.links {
  font-family: "cooper-black-std";
  margin-right: 10px;
  margin-top: 35px;
  font-size: 22px;
}

.links a {
  margin-right: 50px;
  color: #203c40;
}

.links a:link,
.links a:visited {
	display: inline-block;
	text-decoration: none;
  border-bottom: 3px solid transparent;
	transition: border-bottom 0.2s;
}

.links a:hover,
.links a:active {
  border-bottom: 4px solid #203c40;
}

.mac {
  width: 260px;
  position: absolute;
  right: 12%;
  bottom: 14%;
  z-index: 100;
}

.video {
  transform: rotate(4deg);
  width: 130px;
  height: 110px; 
  display: flex;
  position: absolute;
  right: 17.9%;
  bottom: 34%;
}
