@keyframes AnimationName { 
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.initials{
  color: #333;
  font-family: Neutratext;
  font-size: 18px;
}

.links a{
  color: #333;
}

.photo-wrapper {
  height: 90vh;
  overflow: hidden;
}

.photo{
  width: auto;
  height: 100%;
}

.footer{
  opacity: 0;
}

/* links */

.leftColumn {
  width: 52px;
  font-size: 32px;
  flex-grow: 0.35;
  display: flex;
  flex-direction: column;
  font-family: Cyberspace;
  justify-content: space-between;
  height: 90vh;
}

.links-portfolio-wrapper a:hover,
.links-portfolio-wrapper a:active{
  background: linear-gradient(100deg, #ac2632, #52306c, #ac2632, #52306c);
}

.links-linkedin-wrapper a:hover,
.links-linkedin-wrapper a:active{
  background: linear-gradient(100deg, #f5b655, #ac2632, #52306c, #ac2632);
}

.links-github-wrapper a:hover,
.links-github-wrapper a:active{
  background: linear-gradient(100deg, #52306c, #ac2632, #5b5da4);
}

.links-photography-wrapper a:hover,
.links-photography-wrapper a:active{
  background: linear-gradient(100deg, #56bbcd, #3f8ad0, #414597);
}

.links a:hover, a:active{
  background-clip: text;
  background-size: 800% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  -o-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

.links-portfolio{
  font-size: 48.5px;
}

.links-linkedin{
  font-size: 53.3px;
}

.links-github{
  font-size: 66.5px;
}

.links-photography{
  font-size: 32.4px;
}

.links-1 a:link,
.links-1 a:visited {
}

@media (max-width: 1375px) { 
}
