@font-face {
    font-family: Clarendon;
    src: url("clarendon.otf") format("opentype");
}

body {
  background-color: #faeed9;
}

h1 {
  font-family: "cooper-black-std";
  font-style: italic;
  font-weight: 400;
}

p {
  font-family: Clarendon;
}
