/*
orange: e35000
blue: 3d8ebf
dark blue: 203c40
*/

/* header */

.header {
  width: 70vw;
  display: -ms-flexbox;
  display: block;
  -ms-flex-pack: center;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header a {
  color: #3d8ebf;
}

.header a:link,
.header a:visited {
  transition: color 0.2s;
}

.header a:hover,
.header a:active {
  color: #1A5172;
}

.content {
    /* margin-left: 140px; */
  /* margin-bottom: 50px; */
  flex-grow: 0.65;
  /* flex-basis: 80%; */
}

/* links */

.links {
  font-family: "cooper-black-std";
  /* margin-right: 10px; */
  /* margin-top: 35px; */
  /* height: 35px; */
  /* margin-left: 140px; */
  -ms-flex-positive: 0.2;
  flex-grow: 0.35;
  /* margin-bottom: 50px; */
}

.links a {
  margin-right: 50px;
  color: #203c40;
}

.links a:link,
.links a:visited {
	display: inline-block;
	text-decoration: none;
  border-bottom: 4px solid transparent;
	transition: border-bottom 0.2s;
}

.links a:hover,
.links a:active {
  border-bottom: 4px solid #203c40;
}

.macWrapper {
  position: absolute;
  right: 0;
  top: 100px;
  /* bottom: 90px; */
  overflow: hidden;
  width: 300px;
  text-align: right;
}

.mac {
  width: 100%;
  bottom: 14%;
  z-index: 100;
  opacity: 1;
  position: relative;
}

.video {
  -webkit-transform: rotate(2deg) skew(0deg, 3deg);
  -ms-transform: rotate(2deg) skew(0deg, 3deg);
  transform: rotate(2deg) skew(0deg, 3deg);
  width: 225px;
  height: 190px;
  position: absolute;
  left: -15px;
  top: 8px;
  z-index: 0;
}

.muteButton {
  width: 40px;
  height: 35px;
  position: absolute;
  top: 173px;
  left: 4px;
  cursor: pointer;
  z-index: 200;
}

.nextButton {
  width: 40px;
  height: 35px;
  position: absolute;
  top: 208px;
  left: 4px;
  cursor: pointer;
  z-index: 200;
}

.cinematronWrapper {
  right: 140px;
  height: 444px;
  position: absolute;
  bottom: 60px;
}

.cinematronHelp {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cinematronWrapper:hover .cinematronHelp {
  opacity: 1;
}

.cinematronTitle {
  margin: 0;
  transform: rotate(2deg);
  text-align: right;
  opacity: 0;
}

.cinematronDescription {
  font-size: 16px;
  margin-top: 10px;
  transform: rotate(2deg);
  text-align: right;
  opacity: 0;
}

.muteButtonDescription {
  font-size: 16px;
  position: absolute;
  text-align: right;
  transform: rotate(2deg);
  top: 280px;
}

.nextButtonDescription {
  font-size: 16px;
  transform: rotate(2deg);
  position: absolute;
  text-align: right;
  top: 310px;
  left: 1px;
}

.Mute {
  left: -3px;
}

.Unmute {
  left: -27px;
}

@media (max-width: 1375px) { 
  .macWrapper {
    width: 250px;
  }

  .video {
    width: 225px;
    height: 140px;
    top: 7px;
    left: -25px;
  }

  .muteButton {
    top: 145px;
    height: 30px;
  }

  .nextButton {
    top: 175px;
    height: 30px;
  }

  .muteButtonDescription {
    top: 247px;
    left: 41px
  }

  .nextButtonDescription {
    top: 272px;
    left: 45px;
  }

  .Unmute {
    left: 17px;
  }

  .cinematronWrapper {
    height: 387px;
  }
}

@media (max-width: 1300px) { 
  .macWrapper {
    width: 220px;
  }

  .video {
    width: 200px;
    height: 140px;
    top: 0px;
    left: -25px;
  }

  .muteButton {
    top: 129px;
    height: 25px;
  }

  .nextButton {
    top: 154px;
    height: 25px;
  }

  .cinematronWrapper {
    height: 352px;
  }

  .muteButtonDescription {
    top: 227px;
    left: 48px
  }

  .nextButtonDescription {
    top: 250px;
    left: 76px;
  }

  .Mute {
    left: 72px;
  }
}

@media (max-width: 1070px) { 
  .cinematronWrapper {
    display: none;
  }
  
  .macWrapper {
    display: none;
  }
}

@media (max-width: 850px) { 
}

@media (max-width: 550px) { 
}
